section {
  display: flex;
  background: url(../../public/images/Banner-font.jpg);
  height: 500px;
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-size: cover;
  background-position: center;
  background-color: grey;
  margin-inline: auto;
  width: 100%;
  justify-content: space-between;
  align-items:end;
}

section div {
  display: flex;
  flex-direction:column;
  margin-left: 8%;
  margin-bottom: 100px;
}
