.carrousel {

  display: flex;
  width: 1000px;
  justify-content: space-between;
margin-top: 55px;
align-items: center;
  }


  .slideStylesA {
    display: flex;
    width: 170px;
    height: 250px;
    justify-content: center;
    position: relative;
    align-items: center;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    border-radius: 25px;
    margin-inline: auto;
  }

  .slideStyles {
    position: relative;
    display: flex;
    width: 270px;
    border-bottom: 1px solid grey;
    height: 350px;
    justify-content: center;
    position: relative;
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    margin-inline: auto;
  }
  
  .slideStylesB {
    display: flex;
    width: 170px;
    height: 250px;
    justify-content: center;
    position: relative;
    align-items: center;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    border-radius: 25px;
    margin-inline: auto;
  }

  .fleches {
    width: 150%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 42%;
    padding-top: auto;
  }
