.navigation {
  position: fixed;
  background-color: white;
  display: flex;
  height: 65px;
  width: 100%;
  z-index:3;
  justify-content: right;
  align-items: center;
 
}  
  /* ok */
  .navigation ul {
    position: absolute;
    display: flex;
    width: min-content;
    gap: 25px;

     padding-right: 100px;
  }
  
  /* ok */
  .navigation ul li {
    display: flex;
    text-decoration: none;
    height: 30px;
    width: auto;
    justify-content: center;
  }

  .navigation ul li a {
    display: flex;
    width:auto;
    min-width: 150px;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: grey;
    font-size: 20px;
  }

  a:hover {
font-weight: bold;
color: grey;
  }

  /* ok */
  /* .navigation ul a li {
    font-size: 18px;
    width: min-content;
    color: black;
    cursor: pointer;
  } */
  
  /* ok */
  /* .navigation ul .nav-active {
   text-decoration: none;
   color: #ff6060;
  } */
 