.navigation {
  position: fixed;
  background-color: white;
  display: flex;
  height: 50px;
  width: 100%;
  z-index:3;
  justify-content: right;
  align-items: center;
}  
  /* ok */
  .navigation ul {
    position: absolute;
    display: grid;
    width: min-content;
    gap: 25px;
     grid-template-columns: 130px 130px 130px 130px;
  }
  
  /* ok */
  .navigation ul li {
    display: flex;
    text-decoration: none;
    justify-content: center;
  }

  .navigation ul li a {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: grey;
  }

  a:hover {
font-size: 18px;
  }

  /* ok */
  /* .navigation ul a li {
    font-size: 18px;
    width: min-content;
    color: black;
    cursor: pointer;
  } */
  
  /* ok */
  /* .navigation ul .nav-active {
   text-decoration: none;
   color: #ff6060;
  } */
 