.navigation {
  display: flex;
  height: 45px;
  margin-inline: auto;
  width: 95%;
  max-width: 1240px;
  justify-content: right;
  align-items: center;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}  
  /* ok */
  .navigation ul {
    display: flex;
    gap: 25px;
  }
  
  /* ok */
  .navigation ul a {
    text-decoration: none;
  }
  /* ok */
  .navigation ul a li {
    font-size: 18px;
    color: black;
    cursor: pointer;
  }
  
  /* ok */
  .navigation ul .nav-active {
   text-decoration: none;
   color: #ff6060;
  }
  
  /* ok */
  li {
    list-style-type: none;
    font-size: 24px;
  }
  

  @media screen and (max-width: 600px) {
    .Banner_nav {
        height: 83px;
        width: 95%;
      }
      
      .Banner_nav img {
        height: 43px;
      }

      .navigation ul {
        gap: 10px;
      }
      li {
        font-size: 18px;
      }







}