.travaux {
  padding-top: 35px;
  padding-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  }

